<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- <meta http-equiv="refresh" content="5"> -->

  <title>2D-spel - Utmaningar</title>
  <meta name="description" content="Casual 2D-game challenges">
  <meta name="author" content="Olof@CoderDojoGbg">
  <link rel="stylesheet" href="css/styles.css?v=1.0">
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
      <h1>Kodutmaningar!</h1>
      <div v-for="(c, i) in challenges">
          <h3>Utmaning {{ i+1 }}: {{ c.challenge }}</h3>
          <img v-if="c.image" :src="getImageURL(c.image)">
          <p>{{ c.description }}</p>
          Låser upp:
          <ul v-for="a in c.achiements">
              <li>{{ a }}</li>
          </ul>
      </div>
  </div>
  <script src="js/app.js?v=1.0"></script>
</body>
</html>

